@import url("https://fonts.googleapis.com/css?family=Maven+Pro");

html,
body,
td,
th {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  letter-spacing: 8px;
}

p {
  font-size: 25px;
  letter-spacing: 17px;
  font-weight: 500;
}

a:link,
a:visited {
  color: #7a7a7a;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:active {
  color: #912b5e;
  background-color: transparent;
  text-decoration: underline;
}

.container {
  position: relative;
  text-align: center;
  padding: 20px;
}

.centered {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left,
.top-right {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url("/Cosplay06_sm.webp");
  background-color: white;
}
